.slider-button {
  border: none;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 176px;
  height: 176px;
  transition: all 0.3s;
  border-radius: 50%;
  cursor: pointer;

  @media (max-width: 1024px) {
    width: 88px;
    height: 88px;
  }

  svg {
    pointer-events: none;
    width: 42px;
    height: 26px;

    @media (max-width: 1024px) {
      width: 21px;
    }
    path {
      transition: all 0.3s;
    }
  }

  &:hover {
    background-color: #c9c6c6;

    svg {
      path {
        stroke: #ffffff;
      }
    }
  }
}
