.about {
  margin-bottom: 105px;
  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
    justify-content: space-between;
    align-items: center;
  }
  &__img {
    img {
      border-radius: 20px;
      display: block;
    }
  }
  &__details {
    p {
      margin-top: 0;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
