.footer {
  background: #1C1C1C;
  color: #ffffff;
  padding: 96px 0 116px;

  &__flex {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__tel {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.29;
    text-align: center;
    text-decoration-line: underline;
    color: #ffffff;
    margin: 0;
    margin-bottom: 60px;
    // text-decoration: none;
    font-family: inherit;
  }
  &__text {
    font-size: 32px;
    margin: 0;
    margin-bottom: 60px;
    text-align: center;
  }
  &__bottom {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    justify-content: center;
    p, a {
      margin: 0;
      line-height: 1;
      font-size: 14px;
    }

    a {
      color: #BC934A;
      text-decoration: none;
      font-family: inherit;
    }
  }
}
